h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
p {
  color: $light;
  //font-family: $display-font;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
  //font-family: $body-font;
}

blockquote {
  padding: 2rem 0 2rem 2rem;
}

.article-h1 {
  margin-bottom: 2rem;
}
