<div class="solution {% if size != 'full' %}col-lg-6 col-md-8 col-sm-10 {% endif %}col-12 mx-auto pt-5 mt-5 row mb-5">
  <input type="text" name="" value="" placeholder="Enter your solution" class="col-10 solution__input px-0">
  <button type="submit" name="button" class="col-2 solution__button">⇨</button>
</div>
