{% extends "base.twig" %}

{% block content %}
	<h1>Hmmm. You seem puzzled.</h1>
	<p>If you were trying for a solution, <span class="back-link" onclick="window.history.back();">go back</span> and try again.</p>
{% endblock %}
